h1 {
  background-color: cornflowerblue;
  padding: 20px;
}

.container {
  padding: 20px;
  width: 800px;
  border-radius: 8px;
  text-align: start;
  border: 2px solid peachpuff;
  background-color: peachpuff;
  gap: 50px;
}
